@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: unset;
    font-family: 'Amatic SC';
}

#header-container {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: #303030;
    color: white;
}

.header-text {
    transition: .2s ease-in-out 0s;
}

.header-text:hover {
    transform: scale(1.5);
    padding: 0 1.5em;
}

#rules-container {
    padding: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    background-color: #303030;
    color: white;
}

.rules-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    font-size: 0.45em;
}

/*
TODO: 
Add rotation class in JS so it can be toggled on hover
*/

.rules-card img {
    width: 15%;
}

.rotate {
    animation-play-state: running;
    animation: rotation 1.25s 1 ease-in-out;
}

.rotatePause {
    animation-play-state: paused;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  /*
  .rotate {
    animation: rotation 1.25s infinite ease-in-out;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.rules-card img, .rules-card h1 {
    transition: .2s ease-in-out 0s;
}

.rules-card:hover img {
    transform: scale(2.5);
    padding: 2.5em 0;
}

.rules-card:hover h1 {
    padding-top: 2.5em;
}
*/

#body-container {
    padding: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    background-color: #252525 ;
}

#body-container button {
    width: 35em;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    color: white;
    background-color: #303030 ;
    border-radius: 20em;
    border: none;
    transition: .2s ease-in-out 0s;
}

button:hover {
    margin: 0 5em;
    transform: scale(1.5);
}

button h1 {
    font-size: 2.5em;
}

button img {
    width: 15em;
}

