@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#header-container {
    font-family: 'Amatic SC';
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #303030;
    margin: unset;
}